<head>
    <meta charset="UTF-8">
    <title>Multimediaproductie | Bachelor in de grafische en digitale media | Arteveldehogeschool</title>
    <meta name="description" content="Bachelor in de grafische en digitale media, multimediaproductie">
    <meta name="author" content="Arteveldehogeschool, Philippe De Pauw - Waterschoot">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>