/// reveal.js Theme

body {
  background: $bg-color;
  background-color: $bg-color;
  font-family: $reveal-font-body;
  font-size: 30px;
  font-weight: normal;
  color: $f-color;
}

.reveal .controls .navigate-up.enabled {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.reveal .controls .navigate-right.enabled {
    border-left-color: rgba(255, 255, 255, 1);
}

.reveal .controls .navigate-down.enabled {
    border-top-color: rgba(255, 255, 255, 1);
}

.reveal .controls .navigate-left.enabled {
    border-right-color: rgba(255, 255, 255, 1);
}

.home-page > h1 {
  font-size: 6rem;
}

.chapter-intro > h2 {
  color: $bg-color;
  font-size: 8rem;
}