/// reveal.js Fonts

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Source+Code+Pro:400,700);

$reveal-font-head: "Source Sans Pro", sans-serif;
$reveal-font-body: "Source Sans Pro", sans-serif;
$reveal-font-code: "Source Code Pro", monospace;